configuration {
  show-icons:           true;
  cycle:                true;
  hide-scrollbar:       true;
  disable-history:      true;
  sidebar-mode:         false;
  modi:                 "drun,run,window,file-browser";
  columns: 1;
  width:32;
  lines:5;
}
@import "~/.cache/wal/colors-rofi-dark.rasi"
